1. Carga los datos usando tu lector de csv o con pandas. Es recomendable hacerlo con pandas.

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv("covid19_tweets.csv")
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,á‰á¥â˜»Õ¬ê‚…Ï®,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile ğŸ‡ºğŸ‡¸,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,ğŸ–Šï¸Official Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

2. Verifica la cantidad de datos que tienes, las variables que contiene cada vector de datos e identifica el tipo de variables.

In [9]:
data.describe()

       user_followers   user_friends  user_favourites
count    7.443600e+04   74436.000000     7.443600e+04
mean     1.059513e+05    2154.721170     1.529747e+04
std      8.222900e+05    9365.587474     4.668971e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      1.660000e+02     153.000000     2.200000e+02
50%      9.600000e+02     552.000000     1.927000e+03
75%      5.148000e+03    1780.250000     1.014800e+04
max      1.389284e+07  497363.000000     2.047197e+06

In [10]:
data.count()

user_name           74436
user_location       59218
user_description    70079
user_created        74436
user_followers      74436
user_friends        74436
user_favourites     74436
user_verified       74436
date                74436
text                74436
hashtags            53002
source              74424
is_retweet          74436
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74436 entries, 0 to 74435
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_name         74436 non-null  object
 1   user_location     59218 non-null  object
 2   user_description  70079 non-null  object
 3   user_created      74436 non-null  object
 4   user_followers    74436 non-null  int64
 5   user_friends      74436 non-null  int64
 6   user_favourites   74436 non-null  int64
 7   user_verified     74436 non-null  bool
 8   date              74436 non-null  object
 9   text              74436 non-null  object
 10  hashtags          53002 non-null  object
 11  source            74424 non-null  object
 12  is_retweet        74436 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 6.4+ MB

3. Analiza las variables para saber quÃ© representa cada una y en quÃ© rangos se encuentran. Si la descripciÃ³n del problema no te lo indica, utiliza el mÃ¡ximo y el mÃ­nimo para encontrarlo.

In [25]:
data.sort_values(['user_followers'], ascending = False).head(100)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
6959,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892841,69,104,True,2020-07-25 08:00:00,#VoicesfromBeltandRoad: #COVID19 rap song aler...,"['VoicesfromBeltandRoad', 'COVID19']",Twitter Media Studio,False
13450,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892839,69,104,True,2020-07-25 02:43:57,#China's civil aviation recovers as daily flig...,['China'],Twitter Web App,False
16194,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892837,69,104,True,2020-07-25 00:27:38,"On Friday, the #Chinese mainland reported:\nÂ \...","['Chinese', 'Xinjiang']",Twitter Web App,False
235,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892795,69,104,True,2020-07-25 12:20:00,#APEC reaffirms #COVID19 economic recovery pri...,"['APEC', 'COVID19']",TweetDeck,False
2837,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892793,69,104,True,2020-07-25 10:46:35,#COVID19 recovery can take weeks even for youn...,['COVID19'],Twitter Web App,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7435,The Times Of India,New Delhi,News. Views. Analysis. Conversations. Indiaâ€™s ...,2010-04-19 10:50:15,12978729,505,5,True,2020-07-25 07:42:53,Bihar: A 35-year-old #COVID19 positive man in ...,['COVID19'],Twitter Web App,False
5935,The Times Of India,New Delhi,News. Views. Analysis. Conversations. Indiaâ€™s ...,2010-04-19 10:50:15,12978677,505,5,True,2020-07-25 08:40:41,Comprehensive town-wide lockdown to be imposed...,NaN,Twitter Web App,False
5085,The Times Of India,New Delhi,News. Views. Analysis. Conversations. Indiaâ€™s ...,2010-04-19 10:50:15,12978677,505,5,True,2020-07-25 09:15:31,"For the first time, a record number of more th...",['COVID19'],Twitter Web App,False
5971,The Times Of India,New Delhi,News. Views. Analysis. Conversations. Indiaâ€™s ...,2010-04-19 10:50:15,12978677,505,5,True,2020-07-25 08:39:14,There are 3600 #COVID19 cases in Srinagar. Out...,['COVID19'],TweetDeck,False
785,The Times Of India,New Delhi,News. Views. Analysis. Conversations. Indiaâ€™s ...,2010-04-19 10:50:15,12978547,505,5,True,2020-07-25 12:02:41,Rajasthan Government today started a Plasma Ba...,NaN,TweetDeck,False

In [12]:
data.sort_values(['user_location'], ascending = False).head(10)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
2572,âœŠFranc-TireurğŸ—½,ğŸª,Committed to getting into #GoodTrouble #ICantB...,2014-10-28 15:00:14,1887,5001,239113,False,2020-07-25 10:56:42,@Salacia_sea @kylegriffin1 Itâ€™s way beyond rig...,"['AnthonyFauci', 'COVID19']",Twitter for iPhone,False
11869,ğŸBeeHappyğŸ,ğŸª,ğŸğŸ–ğŸ”,2020-01-24 19:49:32,10,53,1103,False,2020-07-25 04:11:40,@gmanews @WHO @WHOPhilippines @senatePH @sotto...,NaN,Twitter for iPhone,False
11692,ğŸBeeHappyğŸ,ğŸª,ğŸğŸ–ğŸ”,2020-01-24 19:49:32,10,53,1103,False,2020-07-25 04:20:45,@gmanews @WHO @WHOPhilippines @senatePH @sotto...,NaN,Twitter for iPhone,False
11618,ğŸBeeHappyğŸ,ğŸª,ğŸğŸ–ğŸ”,2020-01-24 19:49:32,10,53,1103,False,2020-07-25 04:25:22,@gmanews @WHO @WHOPhilippines @senatePH @sotto...,NaN,Twitter for iPhone,False
27153,ğŸ³ï¸â€ğŸŒˆÃÎ›â±¤Æ¬â±§ Â§â± Ó¨â‚®Ğ¯ğŸ‡ªğŸ‡¸ğŸ‡®ğŸ‡ªğŸ´ó §ó ¢ó ³ó £ó ´ó ¿ğŸ‡¬ğŸ‡§ğŸ‡ºğŸ‡¸,ğŸ¦„ğŸŒˆâ¤ï¸ğŸ§¡ğŸ’›ğŸ’šğŸ’™ğŸ’œğŸŒˆğŸ¦„,á—°á—©á‘á—ªá—©á’ªOá–‡Iá—©á‘ á”•ITá•¼ á’ªOá–‡á—ª Oá–´ á”•á‘á—©á–‡Ká—©á”•á—° ~á—ªEá—°IGEá‘á—ªEá–‡ ...,2012-01-10 16:49:20,288,335,29289,False,2020-07-27 05:38:33,@davenewworld_2 It's not just there... 45 minu...,NaN,Twitter for iPhone,False
23145,ğŸ³ï¸â€ğŸŒˆÃÎ›â±¤Æ¬â±§ Â§â± Ó¨â‚®Ğ¯ğŸ‡ªğŸ‡¸ğŸ‡®ğŸ‡ªğŸ´ó §ó ¢ó ³ó £ó ´ó ¿ğŸ‡¬ğŸ‡§ğŸ‡ºğŸ‡¸,ğŸ¦„ğŸŒˆâ¤ï¸ğŸ§¡ğŸ’›ğŸ’šğŸ’™ğŸ’œğŸŒˆğŸ¦„,á—°á—©á‘á—ªá—©á’ªOá–‡Iá—©á‘ á”•ITá•¼ á’ªOá–‡á—ª Oá–´ á”•á‘á—©á–‡Ká—©á”•á—° ~á—ªEá—°IGEá‘á—ªEá–‡ ...,2012-01-10 16:49:20,286,332,29221,False,2020-07-26 03:47:49,#MAGAgonnaMAGAt ğŸ™„Fauci deserves better! These ...,['MAGAgonnaMAGAt'],Twitter for iPhone,False
36347,AlishağŸ’•,ğŸ¦„,I post procreate art & more random stuff Fan: ...,2020-07-28 04:20:46,3,65,7,False,2020-07-28 04:34:34,Hi! Itâ€™s a very rough time. So I want to tell ...,NaN,Twitter for iPhone,False
6310,Ckha Phiri ğŸ‘‘,ğŸ¥°ğŸ¥°,self driven,2020-05-27 14:43:42,108,392,276,False,2020-07-25 08:24:01,Alcohol ban will make other people to opt on u...,NaN,Twitter for Android,False
44670,Justin âšœï¸,ğŸ¤¡ ğŸŒ,ğŸ™‹ğŸ»â€â™‚ï¸ Roman Catholic â€¢ Avid LSU fan âš¾ï¸ Seek tr...,2013-06-06 03:17:11,623,437,38725,False,2020-07-31 19:15:24,Itâ€™s time to open everything back up. #COVID19...,['COVID19'],Twitter for iPhone,False
4400,PDP 2023!! ğŸ‡®ğŸ‡¹ğŸ‡®ğŸ‡¹ğŸ‡®ğŸ‡¹,ğŸ¤”,This is the @OfficialPDPNig Number 1 Support H...,2017-07-27 17:07:53,37524,2068,146050,False,2020-07-25 09:43:20,#ObasekiFlagOff #EdoIsPDP- In line with the @i...,"['ObasekiFlagOff', 'EdoIsPDP', 'Covid19']",Twitter for iPhone,False

In [13]:
data.sort_values(['user_verified'], ascending = False).head(10)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
37218,NEWS9,BENGALURU,NEWS9 brings you fastest news and updates on P...,2012-07-12 05:31:57,25626,6,85,True,2020-07-28 04:10:22,#BIGNEWS: #India reports single-day spike of 4...,"['BIGNEWS', 'India']",Twitter Web App,False
47831,Philip N Cohen,NaN,"Sociologist. Books: The Family: Diversity, Ine...",2009-05-05 23:08:52,20463,1412,60189,True,2020-07-31 18:18:32,Miami-Dade has passed Westchester to have the ...,['COVID19'],Twitter Web App,False
11995,German Embassy Kigali,Rwanda,Official Twitter account of the German Embassy...,2017-02-06 08:20:45,6226,464,3330,True,2020-07-25 04:03:46,"Congratulations to Faida, aged 20, in Rwanda -...",NaN,Twitter for Android,False
47810,Belfast Telegraph,"Belfast, Northern Ireland","Northern Ireland news, sport, features, opinio...",2009-02-12 15:57:34,185663,15199,171,True,2020-07-31 18:18:55,Cross-border work on tracking international vi...,NaN,TweetDeck,False
12002,NBC DFW,NaN,The first TV ğŸ“º station in #Texas & the best pl...,2008-08-21 17:03:55,473450,2175,5910,True,2020-07-25 04:03:18,Creating #COVID19 jobs through small transport...,['COVID19'],SocialFlow,False
64083,BHU Official,"Varanasi, India","Official account of Banaras Hindu University, ...",2019-07-29 07:39:23,11990,71,3222,True,2020-08-02 18:37:13,"Prof. D. P. Singh, Chairman, @ugc_india writes...",['HigherEducation'],Twitter for Android,False
12008,tv9gujarati,"Gujarat, India",NO.1 GUJARATI NEWS CHANNEL. Follow us for brea...,2011-08-01 06:24:46,515338,171,20,True,2020-07-25 04:02:45,"Increase mask fine to Rs 1,000: HC to #Gujarat...","['Gujarat', 'COVID19', 'Covid_19', 'coronaviru...",Twitter Media Studio - LiveCut,False
30826,SpotboyE,Mumbai,Hungry for Bollywood news? SpotboyE is your go...,2014-07-01 06:53:24,570944,697,4410,True,2020-07-27 02:42:42,#AmitabhBachchan reminisces his father #Hariva...,"['AmitabhBachchan', 'HarivanshRaiBachchan']",Twitter Web App,False
47824,Jackson-Madison County Regional Health Department,"Jackson, TN","Metro health department located in Jackson, TN...",2018-10-03 15:27:18,648,540,360,True,2020-07-31 18:18:37,Wearing a cloth face covering CORRECTLY can he...,['COVID19'],Twitter for iPhone,False
12019,News-Leader,"Springfield, Mo.","Best source of news for Springfield, Mo., and ...",2009-02-11 20:27:37,63516,2525,1000,True,2020-07-25 04:01:51,".@LaurentDTardif,Â who started at guard in the ...",NaN,SocialNewsDesk,False

In [15]:
data.sort_values(['is_retweet'], ascending = False).head(10)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,á‰á¥â˜»Õ¬ê‚…Ï®,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
49648,Hotpage News,United States,Top 50 Headlines of the Day #COVID19 #Coronavirus,2009-03-12 14:16:30,26266,13303,1,False,2020-07-31 17:45:25,Fauci responds to Trump's testing tweet - stat...,NaN,Twitter Web App,False
49628,Bethanie Le,"Orange County, CA",Public Relations @ChapmanU | @ucriverside Grad...,2015-07-01 16:40:31,71,209,966,False,2020-07-31 17:45:50,The #COVID19 pandemic led to poorer eating hab...,"['COVID19', 'QuarantineWeight', 'MentalHealth']",Twitter Web App,False
49627,PRMAC_Consulting,"Victoria, British Columbia","One's dignity may be assaulted, vandalized and...",2014-11-24 20:01:20,9433,8839,103148,False,2020-07-31 17:45:50,"#COVID19 #KindnessMatters in every way, every ...","['COVID19', 'KindnessMatters', 'kindness', 'Po...",Twitter for iPad,False
49626,~ Beata ~ #MaskUp,"In America, right matters.",Our lives begin to end the day we become silen...,2009-01-22 03:40:42,1434,3953,168460,False,2020-07-31 17:45:50,@Jim_Jordan Did you know that not wearing a ma...,['COVID19'],Twitter Web App,False
49625,swearing account,UK,We work in world where you can get called out ...,2018-07-16 13:15:09,74,90,64,False,2020-07-31 17:45:50,"Jenny love, do you want to live or do you want...",['covid19'],Twitter for Android,False
49624,ciaolimoncello,NaN,"UCLA LAWğŸŒŠDaughter. Sister. FriendğŸŒŠ The Ocean, ...",2019-01-26 19:56:53,1856,1932,85921,False,2020-07-31 17:45:52,@orphanx13 @tedlieu ğŸ”¥ Trump / GOP Crimes Again...,['COVID19'],Twitter Web App,False
49623,"Caroline Dwyer, AICP","Durham, NC",she/her ğŸŒ† Urban planner ğŸ‘©â€ğŸ’»APA Women & Plannin...,2009-03-23 17:47:38,325,892,8085,False,2020-07-31 17:45:53,Anyone else feeling extremely anxious about th...,NaN,Twitter for iPhone,False
49622,XRP_THOR,NaN,"â€œFortunately, I am mighty!â€ -Thor",2013-03-26 08:19:45,1692,3120,3835,False,2020-07-31 17:45:54,#xrp spreading faster than #COVID19 https://t....,"['xrp', 'COVID19']",Twitter for iPhone,False
49621,NC Health News,North Carolina,The independent nonprofit news service for eve...,2011-05-29 04:51:23,8118,527,1282,False,2020-07-31 17:45:54,Businesses have been changing quickly to follo...,['COVID19'],Twitter Web App,False

In [22]:
data.sort_values(['user_friends'], ascending = False).head(10)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
12021,Tim Fargo ğŸ˜·,2x Inc. 500 winner,CEO of Social Jukebox #digitalnomad #socialtoo...,2010-10-09 17:40:24,611718,497363,144976,True,2020-07-25 04:01:44,"Hard times, when held with open hands and a te...",['quote'],The Social Jukebox,False
22924,Tim Fargo ğŸ˜·,2x Inc. 500 winner,CEO of Social Jukebox #digitalnomad #socialtoo...,2010-10-09 17:40:24,611780,497321,144985,True,2020-07-26 04:01:30,â€œA hero is an ordinary individual who finds th...,NaN,The Social Jukebox,False
20391,Tim Fargo ğŸ˜·,2x Inc. 500 winner,CEO of Social Jukebox #digitalnomad #socialtoo...,2010-10-09 17:40:24,611780,497321,144985,True,2020-07-26 06:45:36,The Rescues Ruining Capitalism.\n#COVID19 #mar...,"['COVID19', 'markets']",Twitter for Android,False
29229,Tim Fargo ğŸ˜·,2x Inc. 500 winner,CEO of Social Jukebox #digitalnomad #socialtoo...,2010-10-09 17:40:24,611801,497287,144999,True,2020-07-27 04:01:40,â€œWe acquire the strength we have overcome.â€â€“ R...,"['quote', 'covid19']",The Social Jukebox,False
37508,Tim Fargo ğŸ˜·,2x Inc. 500 winner,CEO of Social Jukebox #digitalnomad #socialtoo...,2010-10-09 17:40:24,611800,497251,145034,True,2020-07-28 04:02:25,Every adversity brings new experiences and new...,"['quote', 'covid19']",The Social Jukebox,False
59568,Tim Fargo ğŸ˜·,2x Inc. 500 winner,CEO of Social Jukebox #digitalnomad #socialtoo...,2010-10-09 17:40:24,611965,496973,145218,True,2020-08-02 21:44:52,"â€˜Iâ€™m sorry, but itâ€™s a fantasyâ€™\n\n#schoolsreo...","['schoolsreopening', 'COVID19']",Twitter for Android,False
14520,#ismyhairmessedup,Long Beach CA,Von Wolf Clothing\nhttps://t.co/Fkb3oC5fOU \nh...,2010-12-02 18:16:42,410132,445949,3044,False,2020-07-25 01:43:04,For those who don't want to wear a mask or thi...,NaN,Twitter Web App,False
45590,#ismyhairmessedup,Long Beach CA,Von Wolf Clothing\nhttps://t.co/Fkb3oC5fOU \nh...,2010-12-02 18:16:42,409673,445635,3045,False,2020-07-31 19:00:13,Dont burp while wearing your mask.\n#WearADamn...,"['WearADamnMask', 'COVID19', 'coronavirus']",Twitter for Android,False
50218,#ismyhairmessedup,Long Beach CA,Von Wolf Clothing\nhttps://t.co/Fkb3oC5fOU \nh...,2010-12-02 18:16:42,409673,445635,3045,False,2020-07-31 17:32:53,"Bryan Cranston reveals he had coronavirus, don...",NaN,Twitter Web App,False
62866,Anthony Casas,United States,Work matters!,2008-10-30 18:27:32,490705,437666,4678,False,2020-08-02 19:22:25,NASA astronauts splash down after journey home...,['sundayvibes'],Twitter Web App,False

In [23]:
data.sort_values(['user_favourites'], ascending = False).head(10)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
14504,Chelsea Anderson.â™¥ï¸,"South Dakota, USA","Activist, photography, reading, drawing, and s...",2013-03-06 04:11:45,22864,22900,2047197,False,2020-07-25 01:44:18,So Trump wants everyone else's child to get #C...,['COVID19'],Twitter for Android,False
71764,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87559,93252,1154435,False,2020-08-04 05:01:25,Misure restrittive estese ma numeri sotto cont...,['covid19'],Twitter Web App,False
69943,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87559,93252,1154435,False,2020-08-04 06:20:21,Resistenza anche violenta alle misure del #loc...,"['lockdown', 'Covid19', 'Melbourne']",Twitter for Android,False
70610,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87559,93252,1154435,False,2020-08-04 05:52:55,Era il 29 marzo scorso #Covid19 #USA #Fauci Es...,"['Covid19', 'USA', 'Fauci']",Twitter Web App,False
62200,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87568,93275,1154019,False,2020-08-02 19:51:22,L'area della grande #Manchester sotto osservaz...,"['Manchester', 'covid19']",Twitter Web App,False
62446,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87568,93275,1154019,False,2020-08-02 19:39:21,Numeri leggermente declinanti anche in #Texas ...,"['Texas', 'Covid19']",Twitter Web App,False
62126,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87568,93275,1154019,False,2020-08-02 19:54:33,Una dichiarazione da soppesare #covid19 Corona...,['covid19'],Twitter Web App,False
53316,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87575,93309,1153721,False,2020-08-01 18:34:12,Very interesting #covid19 https://t.co/NZFoBNnMir,['covid19'],Twitter Web App,False
53438,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87575,93309,1153721,False,2020-08-01 18:30:27,Ennesimo record di casi #covid19 #India TOI Co...,"['covid19', 'India']",Twitter Web App,False
44330,paolo ignazio marong,NaN,"libero professionista, analista sereno navigat...",2013-04-10 09:29:25,87572,93383,1153211,False,2020-07-30 20:05:25,Nuovo record di casi in #India #covid19 TOI Co...,"['India', 'covid19']",Twitter Web App,False

4. BasÃ¡ndose en la media, mediana y desviaciÃ³n estÃ¡ndar de cada variable, Â¿QuÃ© conclusiones puedes entregar de los datos?
    - Primero que nada, desde mi interpretaciÃ³n de los datos, pude notar que no por el hecho de tener una cuenta verificada, esto implica que toda la informaciÃ³n, o en este caso, los tweets, que compartas sean verÃ­dicos. Ya que el tener una "palomita azul" solo implica que tu cuenta es activa, notoria y autÃ©ntica.

BibliografÃ­a:
- Requisitos de verificaciÃ³n de Twitter: CÃ³mo obtener la insignia de verificaciÃ³n azul. (2022, January 21). Retrieved May 12, 2022, from Twitter.com website: https://help.twitter.com/es/managing-your-account/about-twitter-verified-accounts#:~:text=La%20insignia%20azul%20de%20verificaci%C3%B3n,aut%C3%A9nticay%20notoria%20y%20estar%20activa.